<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Rapid Grounds</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/book/menu']" routerLinkActive="active-link">Ground</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <body>
    <div class="bg-img">
        
        <div class="about">
        <h1>&nbsp;&nbsp;&nbsp;ABOUT US !</h1>
        </div>
    
        
            <br/>
            <div class="abc">
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;///...GREAT PLACE TO PLAY....///</h5>
            </div>
            <br/>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=>RAPID GROUNDS mission is to make it easier for everyone to experience the sports world.
    <br/>
    &nbsp;&nbsp;RG is a team of sports lovers with a vision to facilitate sports through its online platform. 
    <br/>
    &nbsp;&nbsp;From facility booking to sports event registration, we offer a range of services to players, sports facility owners, 
    <br/>
    &nbsp;&nbsp;and sports event organizers.Our website have the best grounds with nearby locations for amazing 
    <br/>
    &nbsp;&nbsp;user experience for our customers.
    <br/>
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=>No matter where your loaction or what ground you want to book, RG makes it easy and backs it 
    <br/>
    &nbsp;&nbsp;all up with 24/7 customer support.
    <br/>
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=>Share this journey on (website name) with other customers.
        </p>
    
    
    </div>