
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Rapid Grounds</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/book/menu']" routerLinkActive="active-link">Ground</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-image"></div>

<div class="bg-text">
  <h1>Contact us</h1>
  <h3 style="font-size:50px">Booking Manager : Arun</h3>
  <h3>987654321</h3>
  <h3>chennai</h3>
  <h3 style="font-size:50px">Manager : Aravind</h3>
  <h3>987654320</h3>
  <h3>chennai</h3>
  
</div>

